html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

.button {
  align-content: center;
  text-align: center;
}

.button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #ffffff;
  border-radius: 4px;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
}

.button.is-danger {
  background-color: #f14668;
  border-color: transparent;
  color: #fff;
  border-radius: 4px;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
}

.button.is-warning {
  background-color: #ffdd57;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
}

table {
  margin: 1em auto;
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input[type=number] {
  -moz-appearance: textfield;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body.dark-mode input {
  background-color: #242424;
  color: white;
}

.button {
  justify-content: center;
}

body.dark-mode {
  background-color: #242424;
}

body.dark-mode main {
  background-color: #242424;
  color: #ffffff;
}