html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

@media (max-width: 480px) {
  .button {
    width: 80vw;
  }
}

@media (min-width: 480px) {
  .button {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.button {
  align-content: center;
  text-align: center;
  color: #000;
  margin: 0;
  display: inline
}

.button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  border-radius: 4px;
  display: inline-flex;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
}

.button.is-primary:focus,
.button.is-primary:hover {
  background-color: #009c84;
}

.button.is-danger {
  background-color: #f14668;
  border-color: transparent;
  border-radius: 4px;
  display: inline-flex;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
}

.button.is-danger:focus,
.button.is-danger:hover {
  background-color: #e81944;
}

.button.is-warning {
  background-color: #ffdd57;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  display: inline-flex;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
}

table {
  margin: 1em auto;
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body.dark-mode input {
  background-color: #242424;
  color: white;
}

body.dark-mode {
  background-color: #242424;
}

body.dark-mode main {
  background-color: #242424;
  color: #fff;
}

body.dark-mode button.is-primary {
  color: black;
  background-color: #00ffd4;
}

.hidden-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}